<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload PPT</title>
</head>
<body>
   
Upload you ppt from here ...
<br><br>
<!--  SINGLE FILE -->
<form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" /><br>
   <input type="submit" value="Submit"/>
</form>
 
</body>
</html>